In [1]:
import re
import pandas as pd
from pymongo import MongoClient
import folium
import googlemaps
from datetime import datetime
import os
from dotenv import load_dotenv
load_dotenv()

True

In [2]:
def connectCollection(database, collection):
    client = MongoClient()
    db = client[database]
    coll = db[collection]
    return db, coll

## Función que realiza la geoquerie

In [3]:
def filterType(lat,lng, typeName, radius):
    db, coll = connectCollection('companies', typeName)
    results = coll.find({
        "location":{
            "$near":{
                "$geometry":{
                    "type":"Point",
                    "coordinates":[lng,lat]
                },
                "$maxDistance": radius,
            }
        }
    })
    return results

coords = [52.3573865,4.892337]
data = filterType(*coords,'clubs',1000)
print(data.count())
print(data[0])

23
{'_id': ObjectId('5dd6ada72eb127ee9342a41c'), 'name': "Oostheim Bro's", 'address': 'Albert Cuypstraat 139, 1072 CS Amsterdam, Netherlands', 'location': {'type': 'Point', 'coordinates': [4.8927191, 52.3555603]}}

/usr/local/Cellar/ipython/7.8.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:18: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.

In [4]:
db, localrent = connectCollection('companies', 'rentlocals')
db, clubs = connectCollection('companies', 'clubs')

In [5]:
lr = list(localrent.find())
lr[0]

{'_id': ObjectId('5dd6ca627e4ead4e4526151a'),
 'address': 'Corsicaweg 10',
 'location': {'type': 'Point', 'coordinates': [4.8115896, 52.4021632]}}

## Función que cuenta la cantidad de elementos que hay en el radio que le pongo

In [6]:
def counting(collection, radius):
    lst=[]
    for l in lr:
        lst.append(l['location']['coordinates'][::-1])
    data=[]
    for l in lst:
        data.append(filterType(*l,collection,radius))
    contando=[]
    for i in range(len(data)):
        contando.append(data[i].count())
    return contando

In [7]:
clubs = counting('clubs',1000)
print(clubs)

[0, 0, 12, 6, 0, 0, 2, 6, 0, 0, 0, 0, 0, 0, 0, 0, 23, 19, 2, 38, 0, 6, 4, 11, 6, 0, 0]

/usr/local/Cellar/ipython/7.8.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:10: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  # Remove the CWD from sys.path while we load stuff.

In [8]:
schools = counting('schools', 750)
print(schools)

[0, 2, 2, 7, 0, 0, 2, 7, 0, 0, 0, 0, 0, 0, 0, 0, 9, 5, 2, 3, 0, 6, 0, 11, 0, 2, 0]

/usr/local/Cellar/ipython/7.8.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:10: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  # Remove the CWD from sys.path while we load stuff.

In [9]:
starbucks = counting('starbucks',200)
print(starbucks)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

/usr/local/Cellar/ipython/7.8.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:10: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  # Remove the CWD from sys.path while we load stuff.

In [10]:
veganrest = counting('veganrest', 150)
print(veganrest)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

/usr/local/Cellar/ipython/7.8.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:10: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  # Remove the CWD from sys.path while we load stuff.

In [11]:
kindergarten = counting('kindergarten', 600)
print(kindergarten)

[0, 2, 4, 2, 0, 0, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 4, 2, 0, 0, 0, 6, 0, 2, 0, 0, 0]

/usr/local/Cellar/ipython/7.8.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:10: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  # Remove the CWD from sys.path while we load stuff.

In [12]:
amsterdam = counting('amsterdam', 750)
print(amsterdam)

[0, 0, 14, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 7, 7, 0, 13, 0, 6, 1, 1, 0, 4, 0]

/usr/local/Cellar/ipython/7.8.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:10: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  # Remove the CWD from sys.path while we load stuff.

In [14]:
coffeeshop = counting('coffeeshop', 200)
print(coffeeshop)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0]

/usr/local/Cellar/ipython/7.8.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:10: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  # Remove the CWD from sys.path while we load stuff.

In [15]:
airport = counting('airport', 15000)
print(airport)

[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]

/usr/local/Cellar/ipython/7.8.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:10: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  # Remove the CWD from sys.path while we load stuff.

## Creo un dataframe con mi lista de locales en alquiler

In [16]:
df=pd.DataFrame(lr)
df.head()

,_id,address,location
0,5dd6ca627e4ead4e4526151a,Corsicaweg 10,"{'type': 'Point', 'coordinates': [4.8115896, 5..."
1,5dd6ca627e4ead4e4526151b,Robert Kochplantsoen 19,"{'type': 'Point', 'coordinates': [4.9369403, 5..."
2,5dd6ca627e4ead4e4526151c,Eerste Leliedwarsstraat 6,"{'type': 'Point', 'coordinates': [4.8824977999..."
3,5dd6ca627e4ead4e4526151d,Geuzenstraat 98,"{'type': 'Point', 'coordinates': [4.8648476, 5..."
4,5dd6ca627e4ead4e4526151e,Jan Rebelstraat 18C,"{'type': 'Point', 'coordinates': [4.7859449, 5..."

## Le inserto al Dataframe las columnas de la función counting

In [ ]:
def insertColumn(name, listname):
    df.insert(2, name, listname) 
    return df

insertColumn('airport_15km', airport)
insertColumn('coffee_shop_200m', coffeeshop)
insertColumn('amsterdam_750m', amsterdam)
insertColumn('clubs_1000m', clubs)
insertColumn('veganrest_150m', veganrest)
insertColumn('starbucks_200m', starbucks)
insertColumn('schools_750m', schools)
insertColumn('kindergarten_600m', kindergarten)
insertColumn('coordinates', lst)


df.head()

In [18]:
df.columns

Index(['_id', 'address', 'kindergarten_600m', 'schools_750m', 'starbucks_200m',
       'veganrest_150m', 'clubs_1000m', 'amsterdam_750m', 'coffee_shop_200m',
       'airport_15km', 'location'],
      dtype='object')

In [19]:
df=df.drop(columns=['location'])
df.head()

,_id,address,kindergarten_600m,schools_750m,starbucks_200m,veganrest_150m,clubs_1000m,amsterdam_750m,coffee_shop_200m,airport_15km
0,5dd6ca627e4ead4e4526151a,Corsicaweg 10,0,0,0,0,0,0,0,2
1,5dd6ca627e4ead4e4526151b,Robert Kochplantsoen 19,2,2,0,0,0,0,0,2
2,5dd6ca627e4ead4e4526151c,Eerste Leliedwarsstraat 6,4,2,0,0,12,14,0,2
3,5dd6ca627e4ead4e4526151d,Geuzenstraat 98,2,7,0,0,6,0,0,2
4,5dd6ca627e4ead4e4526151e,Jan Rebelstraat 18C,0,0,0,0,0,0,0,2

In [20]:
df['address'] = df['address'].str.replace(' Parking Heinekenplein- Amsterdam -APCOA', ' ')
df['address'] = df['address'].str.replace('Parking Museum', '')

In [22]:
df.drop([13 , 14])
df.head()

,_id,address,kindergarten_600m,schools_750m,starbucks_200m,veganrest_150m,clubs_1000m,amsterdam_750m,coffee_shop_200m,airport_15km
0,5dd6ca627e4ead4e4526151a,Corsicaweg 10,0,0,0,0,0,0,0,2
1,5dd6ca627e4ead4e4526151b,Robert Kochplantsoen 19,2,2,0,0,0,0,0,2
2,5dd6ca627e4ead4e4526151c,Eerste Leliedwarsstraat 6,4,2,0,0,12,14,0,2
3,5dd6ca627e4ead4e4526151d,Geuzenstraat 98,2,7,0,0,6,0,0,2
4,5dd6ca627e4ead4e4526151e,Jan Rebelstraat 18C,0,0,0,0,0,0,0,2

## Pongo las condiciones que debe de tener mi sede

In [23]:
headquarter = df[(df['starbucks_200m']>0) & (df['veganrest_150m']>0)]

In [24]:
headquarter

,_id,address,kindergarten_600m,schools_750m,starbucks_200m,veganrest_150m,clubs_1000m,amsterdam_750m,coffee_shop_200m,airport_15km
16,5dd6ca627e4ead4e4526152a,APCOA,4,9,1,2,23,7,1,2