In [1]:
import re
import pandas as pd
from pymongo import MongoClient
import folium
import googlemaps
from datetime import datetime
import os
from dotenv import load_dotenv
load_dotenv()

True

In [2]:
def connectCollection(database, collection):
    client = MongoClient()
    db = client[database]
    coll = db[collection]
    return db, coll

In [3]:
def filterType(lat,lng, typeName, radius):
    db, coll = connectCollection('companies', typeName)
    results = coll.find({
        "location":{
            "$near":{
                "$geometry":{
                    "type":"Point",
                    "coordinates":[lng,lat]
                },
                "$maxDistance": radius,
            }
        }
    })
    return results

coords = [52.3573865,4.892337]
data = filterType(*coords,'clubs',1000)
print(data.count())
print(data[0])

23
{'_id': ObjectId('5dd6ada72eb127ee9342a41c'), 'name': "Oostheim Bro's", 'address': 'Albert Cuypstraat 139, 1072 CS Amsterdam, Netherlands', 'location': {'type': 'Point', 'coordinates': [4.8927191, 52.3555603]}}

/usr/local/Cellar/ipython/7.8.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:18: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.

In [4]:
db, starbucks = connectCollection('companies', 'starbucks')
#db, clubs = connectCollection('companies', 'clubs')

In [5]:
lr = list(starbucks.find())
lr[0]

{'_id': ObjectId('5dd6ada62eb127ee9342a35a'),
 'name': 'STARBUCKS COFFEE Leidsestraat Shop',
 'address': 'Leidsestraat 101, 1017 NZ Amsterdam, Netherlands',
 'location': {'type': 'Point', 'coordinates': [4.8836336, 52.36448240000001]}}

In [6]:
def counting(collection, radius):
    lst=[]
    for l in lr:
        lst.append(l['location']['coordinates'][::-1])
    data=[]
    for l in lst:
        data.append(filterType(*l,collection,radius))
    contando=[]
    for i in range(len(data)):
        contando.append(data[i].count())
    return contando

In [7]:
clubs = counting('clubs',250)
print(clubs)

[23, 4, 0, 16, 0, 2, 0, 4, 0, 2, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 2, 23, 3, 0, 23, 4, 0, 16, 0, 0, 4, 0, 2, 2, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0]

/usr/local/Cellar/ipython/7.8.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:10: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  # Remove the CWD from sys.path while we load stuff.

In [8]:
schools = counting('schools', 750)
print(schools)

[2, 4, 4, 3, 4, 0, 0, 0, 4, 5, 2, 0, 0, 3, 2, 1, 0, 0, 2, 0, 0, 1, 0, 0, 0, 0, 4, 0, 0, 0, 1, 0, 4, 2, 5, 0, 2, 4, 4, 3, 4, 4, 0, 2, 5, 0, 0, 0, 0, 3, 2, 1, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 4, 0, 4, 0, 0, 0]

/usr/local/Cellar/ipython/7.8.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:10: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  # Remove the CWD from sys.path while we load stuff.

In [9]:
#starbucks = counting('starbucks',200)
#print(starbucks)

In [10]:
veganrest = counting('veganrest', 100)
print(veganrest)

[2, 0, 0, 2, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 0, 2, 0, 0, 2, 0, 0, 0, 0, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

/usr/local/Cellar/ipython/7.8.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:10: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  # Remove the CWD from sys.path while we load stuff.

In [11]:
kindergarten = counting('kindergarten', 300)
print(kindergarten)

[0, 0, 0, 2, 0, 0, 2, 0, 4, 0, 2, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 4, 0, 2, 0, 0, 2, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

/usr/local/Cellar/ipython/7.8.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:10: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  # Remove the CWD from sys.path while we load stuff.

In [12]:
amsterdam = counting('amsterdam', 250)
print(amsterdam)

[2, 6, 0, 2, 0, 0, 1, 2, 0, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 5, 0, 0, 0, 0, 0, 2, 6, 0, 2, 0, 0, 2, 0, 0, 0, 1, 0, 0, 0, 4, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

/usr/local/Cellar/ipython/7.8.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:10: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  # Remove the CWD from sys.path while we load stuff.

In [13]:
coffeeshop = counting('coffeeshop', 200)
print(coffeeshop)

/usr/local/Cellar/ipython/7.8.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:10: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  # Remove the CWD from sys.path while we load stuff.

[3, 1, 0, 2, 0, 0, 0, 2, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 1, 0, 3, 1, 0, 2, 0, 0, 2, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0]

In [14]:
airport = counting('airport', 15000)
print(airport)

[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2]

/usr/local/Cellar/ipython/7.8.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:10: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  # Remove the CWD from sys.path while we load stuff.

In [15]:
df=pd.DataFrame(lr)
df.head()

,_id,name,address,location
0,5dd6ada62eb127ee9342a35a,STARBUCKS COFFEE Leidsestraat Shop,"Leidsestraat 101, 1017 NZ Amsterdam, Netherlands","{'type': 'Point', 'coordinates': [4.8836336, 5..."
1,5dd6ada62eb127ee9342a35b,STARBUCKS COFFEE Amsterdam Damrak Shop,"Damrak 80-81, 1012 LN Amsterdam, Netherlands","{'type': 'Point', 'coordinates': [4.8942746, 5..."
2,5dd6ada62eb127ee9342a35c,Starbucks,"Stationsplein 9, 1012 AB Amsterdam, Netherlands","{'type': 'Point', 'coordinates': [4.9003540999..."
3,5dd6ada62eb127ee9342a35d,STARBUCKS The Bank Rembrandtplein,"The Bank Rembrandtplein, Utrechtsestraat 9, 10...","{'type': 'Point', 'coordinates': [4.8977405, 5..."
4,5dd6ada62eb127ee9342a35e,STARBUCKS COFFEE Doubletree by Hilton Amsterda...,"Ground Floor, Oosterdokskade 4, 1001 RD Amster...","{'type': 'Point', 'coordinates': [4.9043465, 5..."

In [16]:
def insertColumn(name, listname):
    df.insert(2, name, listname) 
    return df

insertColumn('airport_15km', airport)
insertColumn('amsterdam_250m', amsterdam)
insertColumn('coffee_shop_200m', coffeeshop)
insertColumn('clubs_250m', clubs)
insertColumn('veganrest_100m', veganrest)
#insertColumn('starbucks', starbucks)
insertColumn('schools_750m', schools)
insertColumn('kindergarten_300m', kindergarten)
#insertColumn('coordinates', lst)


df.head()

,_id,name,kindergarten_300m,schools_750m,veganrest_100m,clubs_250m,coffee_shop_200m,amsterdam_250m,airport_15km,address,location
0,5dd6ada62eb127ee9342a35a,STARBUCKS COFFEE Leidsestraat Shop,0,2,2,23,3,2,2,"Leidsestraat 101, 1017 NZ Amsterdam, Netherlands","{'type': 'Point', 'coordinates': [4.8836336, 5..."
1,5dd6ada62eb127ee9342a35b,STARBUCKS COFFEE Amsterdam Damrak Shop,0,4,0,4,1,6,2,"Damrak 80-81, 1012 LN Amsterdam, Netherlands","{'type': 'Point', 'coordinates': [4.8942746, 5..."
2,5dd6ada62eb127ee9342a35c,Starbucks,0,4,0,0,0,0,2,"Stationsplein 9, 1012 AB Amsterdam, Netherlands","{'type': 'Point', 'coordinates': [4.9003540999..."
3,5dd6ada62eb127ee9342a35d,STARBUCKS The Bank Rembrandtplein,2,3,2,16,2,2,2,"The Bank Rembrandtplein, Utrechtsestraat 9, 10...","{'type': 'Point', 'coordinates': [4.8977405, 5..."
4,5dd6ada62eb127ee9342a35e,STARBUCKS COFFEE Doubletree by Hilton Amsterda...,0,4,0,0,0,0,2,"Ground Floor, Oosterdokskade 4, 1001 RD Amster...","{'type': 'Point', 'coordinates': [4.9043465, 5..."

In [17]:
df.columns

Index(['_id', 'name', 'kindergarten_300m', 'schools_750m', 'veganrest_100m',
       'clubs_250m', 'coffee_shop_200m', 'amsterdam_250m', 'airport_15km',
       'address', 'location'],
      dtype='object')

In [18]:
#df=df.drop(columns=['location'])
#df.head()

In [19]:
#df['address'] = df['address'].str.replace(' Parking Heinekenplein- Amsterdam -APCOA', ' ')
#df['address'] = df['address'].str.replace('Parking Museum', '')

In [20]:
df

,_id,name,kindergarten_300m,schools_750m,veganrest_100m,clubs_250m,coffee_shop_200m,amsterdam_250m,airport_15km,address,location
0,5dd6ada62eb127ee9342a35a,STARBUCKS COFFEE Leidsestraat Shop,0,2,2,23,3,2,2,"Leidsestraat 101, 1017 NZ Amsterdam, Netherlands","{'type': 'Point', 'coordinates': [4.8836336, 5..."
1,5dd6ada62eb127ee9342a35b,STARBUCKS COFFEE Amsterdam Damrak Shop,0,4,0,4,1,6,2,"Damrak 80-81, 1012 LN Amsterdam, Netherlands","{'type': 'Point', 'coordinates': [4.8942746, 5..."
2,5dd6ada62eb127ee9342a35c,Starbucks,0,4,0,0,0,0,2,"Stationsplein 9, 1012 AB Amsterdam, Netherlands","{'type': 'Point', 'coordinates': [4.9003540999..."
3,5dd6ada62eb127ee9342a35d,STARBUCKS The Bank Rembrandtplein,2,3,2,16,2,2,2,"The Bank Rembrandtplein, Utrechtsestraat 9, 10...","{'type': 'Point', 'coordinates': [4.8977405, 5..."
4,5dd6ada62eb127ee9342a35e,STARBUCKS COFFEE Doubletree by Hilton Amsterda...,0,4,0,0,0,0,2,"Ground Floor, Oosterdokskade 4, 1001 RD Amster...","{'type': 'Point', 'coordinates': [4.9043465, 5..."
...,...,...,...,...,...,...,...,...,...,...,...
63,5dd7af53025f92abb69b8fa0,Starbucks Coffee Emea B.v.,0,0,0,0,0,0,0,"7 24, 1034 ZL Amsterdam, Netherlands","{'type': 'Point', 'coordinates': [4.9236606, 5..."
64,5dd7af53025f92abb69b8fa1,Ipo's Coffee Gallery,0,4,0,0,0,0,2,"Piet Heinkade 29, 1019 BR Amsterdam, Netherlands","{'type': 'Point', 'coordinates': [4.9158558, 5..."
65,5dd7af53025f92abb69b8fa2,Starbucks,0,0,0,0,0,0,2,"Evert van de Beekstraat 202, 1118 CP Schiphol,...","{'type': 'Point', 'coordinates': [4.7596772, 5..."
66,5dd7af53025f92abb69b8fa3,Starbucks Coffee,0,0,0,0,0,0,2,"Evert van de Beekstraat 202, 1118 CP Schiphol,...","{'type': 'Point', 'coordinates': [4.7643564, 5..."
67,5dd7af53025f92abb69b8fa4,Starbucks,0,0,0,0,0,0,2,"Evert van de Beekstraat 202, 1118 CP Schiphol,...","{'type': 'Point', 'coordinates': [4.7690956999..."

In [31]:
df = df.drop([39])

In [32]:
headquarter = df[(df['kindergarten_300m']>0) & (df['schools_750m']>0) & (df['veganrest_100m']>0) & (df['clubs_250m']>0) & (df['amsterdam_250m']>0) & (df['airport_15km']>0)& (df['coffee_shop_200m']>0)]

In [33]:
headquarter

,_id,name,kindergarten_300m,schools_750m,veganrest_100m,clubs_250m,coffee_shop_200m,amsterdam_250m,airport_15km,address,location
3,5dd6ada62eb127ee9342a35d,STARBUCKS The Bank Rembrandtplein,2,3,2,16,2,2,2,"The Bank Rembrandtplein, Utrechtsestraat 9, 10...","{'type': 'Point', 'coordinates': [4.8977405, 5..."