In [1]:
import re
import pandas as pd
from pymongo import MongoClient
import folium
import googlemaps
from datetime import datetime
import os
from dotenv import load_dotenv
load_dotenv()

True

In [2]:
def connectCollection(database, collection):
    client = MongoClient()
    db = client[database]
    coll = db[collection]
    return db, coll

In [3]:
def filterType(lat,lng, typeName, radius):
    db, coll = connectCollection('companies', typeName)
    results = coll.find({
        "location":{
            "$near":{
                "$geometry":{
                    "type":"Point",
                    "coordinates":[lng,lat]
                },
                "$maxDistance": radius,
            }
        }
    })
    return results

coords = [52.3573865,4.892337]
data = filterType(*coords,'clubs',1000)
print(data.count())
print(data[0])

12
{'_id': ObjectId('5dd6ada72eb127ee9342a41c'), 'name': "Oostheim Bro's", 'address': 'Albert Cuypstraat 139, 1072 CS Amsterdam, Netherlands', 'location': {'type': 'Point', 'coordinates': [4.8927191, 52.3555603]}}

/usr/local/Cellar/ipython/7.8.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:18: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.

In [4]:
db, starbucks = connectCollection('companies', 'starbucks')
#db, clubs = connectCollection('companies', 'clubs')

In [5]:
lr = list(starbucks.find())
lr[0]

{'_id': ObjectId('5dd6ada62eb127ee9342a35a'),
 'name': 'STARBUCKS COFFEE Leidsestraat Shop',
 'address': 'Leidsestraat 101, 1017 NZ Amsterdam, Netherlands',
 'location': {'type': 'Point', 'coordinates': [4.8836336, 52.36448240000001]}}

In [6]:
def counting(collection, radius):
    lst=[]
    for l in lr:
        lst.append(l['location']['coordinates'][::-1])
    data=[]
    for l in lst:
        data.append(filterType(*l,collection,radius))
    contando=[]
    for i in range(len(data)):
        contando.append(data[i].count())
    return contando

In [86]:
clubs = counting('clubs',250)
print(clubs)

[12, 2, 0, 8, 0, 1, 0, 2, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 12, 2, 0]

/usr/local/Cellar/ipython/7.8.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:10: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  # Remove the CWD from sys.path while we load stuff.

In [87]:
schools = counting('schools', 750)
print(schools)

[1, 2, 2, 1, 2, 0, 0, 0, 2, 2, 1, 0, 0, 2, 1, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 2, 1, 2, 0]

/usr/local/Cellar/ipython/7.8.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:10: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  # Remove the CWD from sys.path while we load stuff.

In [72]:
#starbucks = counting('starbucks',200)
#print(starbucks)

In [114]:
veganrest = counting('veganrest', 100)
print(veganrest)

[1, 0, 0, 1, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0]

/usr/local/Cellar/ipython/7.8.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:10: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  # Remove the CWD from sys.path while we load stuff.

In [115]:
kindergarten = counting('kindergarten', 300)
print(kindergarten)

[0, 0, 0, 1, 0, 0, 1, 0, 2, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

/usr/local/Cellar/ipython/7.8.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:10: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  # Remove the CWD from sys.path while we load stuff.

In [127]:
amsterdam = counting('amsterdam', 250)
print(amsterdam)

[2, 6, 0, 2, 0, 0, 1, 2, 0, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 5, 0, 0, 0, 0, 0]

/usr/local/Cellar/ipython/7.8.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:10: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  # Remove the CWD from sys.path while we load stuff.

In [128]:
airport = counting('airport', 15000)
print(airport)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

/usr/local/Cellar/ipython/7.8.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:10: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  # Remove the CWD from sys.path while we load stuff.

In [129]:
df=pd.DataFrame(lr)
df.head()

,_id,name,address,location
0,5dd6ada62eb127ee9342a35a,STARBUCKS COFFEE Leidsestraat Shop,"Leidsestraat 101, 1017 NZ Amsterdam, Netherlands","{'type': 'Point', 'coordinates': [4.8836336, 5..."
1,5dd6ada62eb127ee9342a35b,STARBUCKS COFFEE Amsterdam Damrak Shop,"Damrak 80-81, 1012 LN Amsterdam, Netherlands","{'type': 'Point', 'coordinates': [4.8942746, 5..."
2,5dd6ada62eb127ee9342a35c,Starbucks,"Stationsplein 9, 1012 AB Amsterdam, Netherlands","{'type': 'Point', 'coordinates': [4.9003540999..."
3,5dd6ada62eb127ee9342a35d,STARBUCKS The Bank Rembrandtplein,"The Bank Rembrandtplein, Utrechtsestraat 9, 10...","{'type': 'Point', 'coordinates': [4.8977405, 5..."
4,5dd6ada62eb127ee9342a35e,STARBUCKS COFFEE Doubletree by Hilton Amsterda...,"Ground Floor, Oosterdokskade 4, 1001 RD Amster...","{'type': 'Point', 'coordinates': [4.9043465, 5..."

In [130]:
def insertColumn(name, listname):
    df.insert(2, name, listname) 
    return df

insertColumn('airport_15km', airport)
insertColumn('amsterdam_250m', amsterdam)
insertColumn('clubs_250m', clubs)
insertColumn('veganrest_100m', veganrest)
#insertColumn('starbucks', starbucks)
insertColumn('schools_750m', schools)
insertColumn('kindergarten_300m', kindergarten)
#insertColumn('coordinates', lst)


df.head()

,_id,name,kindergarten,schools,veganrest,clubs,amsterdam,airport,address,location
0,5dd6ada62eb127ee9342a35a,STARBUCKS COFFEE Leidsestraat Shop,0,1,1,12,2,1,"Leidsestraat 101, 1017 NZ Amsterdam, Netherlands","{'type': 'Point', 'coordinates': [4.8836336, 5..."
1,5dd6ada62eb127ee9342a35b,STARBUCKS COFFEE Amsterdam Damrak Shop,0,2,0,2,6,1,"Damrak 80-81, 1012 LN Amsterdam, Netherlands","{'type': 'Point', 'coordinates': [4.8942746, 5..."
2,5dd6ada62eb127ee9342a35c,Starbucks,0,2,0,0,0,1,"Stationsplein 9, 1012 AB Amsterdam, Netherlands","{'type': 'Point', 'coordinates': [4.9003540999..."
3,5dd6ada62eb127ee9342a35d,STARBUCKS The Bank Rembrandtplein,1,1,1,8,2,1,"The Bank Rembrandtplein, Utrechtsestraat 9, 10...","{'type': 'Point', 'coordinates': [4.8977405, 5..."
4,5dd6ada62eb127ee9342a35e,STARBUCKS COFFEE Doubletree by Hilton Amsterda...,0,2,0,0,0,1,"Ground Floor, Oosterdokskade 4, 1001 RD Amster...","{'type': 'Point', 'coordinates': [4.9043465, 5..."

In [131]:
df.columns

Index(['_id', 'name', 'kindergarten', 'schools', 'veganrest', 'clubs',
       'amsterdam', 'airport', 'address', 'location'],
      dtype='object')

In [132]:
#df=df.drop(columns=['location'])
#df.head()

In [133]:
#df['address'] = df['address'].str.replace(' Parking Heinekenplein- Amsterdam -APCOA', ' ')
#df['address'] = df['address'].str.replace('Parking Museum', '')

In [134]:
df

,_id,name,kindergarten,schools,veganrest,clubs,amsterdam,airport,address,location
0,5dd6ada62eb127ee9342a35a,STARBUCKS COFFEE Leidsestraat Shop,0,1,1,12,2,1,"Leidsestraat 101, 1017 NZ Amsterdam, Netherlands","{'type': 'Point', 'coordinates': [4.8836336, 5..."
1,5dd6ada62eb127ee9342a35b,STARBUCKS COFFEE Amsterdam Damrak Shop,0,2,0,2,6,1,"Damrak 80-81, 1012 LN Amsterdam, Netherlands","{'type': 'Point', 'coordinates': [4.8942746, 5..."
2,5dd6ada62eb127ee9342a35c,Starbucks,0,2,0,0,0,1,"Stationsplein 9, 1012 AB Amsterdam, Netherlands","{'type': 'Point', 'coordinates': [4.9003540999..."
3,5dd6ada62eb127ee9342a35d,STARBUCKS The Bank Rembrandtplein,1,1,1,8,2,1,"The Bank Rembrandtplein, Utrechtsestraat 9, 10...","{'type': 'Point', 'coordinates': [4.8977405, 5..."
4,5dd6ada62eb127ee9342a35e,STARBUCKS COFFEE Doubletree by Hilton Amsterda...,0,2,0,0,0,1,"Ground Floor, Oosterdokskade 4, 1001 RD Amster...","{'type': 'Point', 'coordinates': [4.9043465, 5..."
5,5dd6ada62eb127ee9342a35f,Starbucks,0,0,0,1,0,1,"Orlyplein 103, 1043 DT Amsterdam, Netherlands","{'type': 'Point', 'coordinates': [4.8375534, 5..."
6,5dd6ada62eb127ee9342a360,Starbucks,1,0,0,0,1,1,"Zuidplein 10, 1077 XV Amsterdam, Netherlands","{'type': 'Point', 'coordinates': [4.8731287, 5..."
7,5dd6ada62eb127ee9342a361,STARBUCKS COFFEE Bloemenmarkt Shop,0,0,0,2,2,1,"Singel 480, 1017 AW Amsterdam, Netherlands","{'type': 'Point', 'coordinates': [4.8896652, 5..."
8,5dd6ada62eb127ee9342a362,Starbucks,2,2,0,0,0,1,"Beethovenstraat 36-38, 1077 JH Amsterdam, Neth...","{'type': 'Point', 'coordinates': [4.8771144, 5..."
9,5dd6ada62eb127ee9342a363,Starbucks,0,2,2,1,0,1,"Ferdinand Bolstraat 21580, 1072 LM Amsterdam, ...","{'type': 'Point', 'coordinates': [4.8905951, 5..."
10,5dd6ada62eb127ee9342a364,STARBUCKS COFFEE Amsterdam Overtoom Shop,1,1,0,0,0,1,"Overtoom 72, 1054 HL Amsterdam, Netherlands","{'type': 'Point', 'coordinates': [4.8758273, 5..."
11,5dd6ada62eb127ee9342a365,Starbucks Amsterdam Amstel Station,0,0,0,0,0,1,"Julianaplein 1, 1097 DN Amsterdam, Netherlands","{'type': 'Point', 'coordinates': [4.9179860999..."
12,5dd6ada62eb127ee9342a366,Starbucks on the go,0,0,0,0,0,1,"Europaboulevard 24, 1083 AD Amsterdam, Netherl...","{'type': 'Point', 'coordinates': [4.8896519, 5..."
13,5dd6ada62eb127ee9342a367,Starbucks Amsterdam Rokin,0,2,0,1,0,1,"Rokin 74, 1012 KW Amsterdam, Netherlands","{'type': 'Point', 'coordinates': [4.8922574999..."
14,5dd6ada62eb127ee9342a368,Starbucks,1,1,0,0,4,1,"Gustav Mahlerlaan 841a, 1082 MA Amsterdam, Net...","{'type': 'Point', 'coordinates': [4.8704301999..."
15,5dd6ada62eb127ee9342a369,Starbucks IJHal,0,0,0,0,0,1,"Stationsplein 38B, 1012 AB Amsterdam, Netherlands","{'type': 'Point', 'coordinates': [4.9005785, 5..."
16,5dd6ada62eb127ee9342a36a,Starbucks,0,0,0,0,0,1,"ArenA Boulevard 618, 1011 DS Amsterdam, Nether...","{'type': 'Point', 'coordinates': [4.947705, 52..."
17,5dd6ada62eb127ee9342a36b,Starbucks,0,0,0,0,0,1,"Binnenhof 7c, 1181 GE Amstelveen, Netherlands","{'type': 'Point', 'coordinates': [4.8617459, 5..."
18,5dd6ada62eb127ee9342a36c,Starbucks on the go,0,2,0,0,0,1,"Van Slingelandtplein 17, 1051 DD Amsterdam, Ne...","{'type': 'Point', 'coordinates': [4.864634, 52..."
19,5dd6ada62eb127ee9342a36d,Starbucks,0,0,0,0,0,1,"Airport Pier C, 1117 ZN Schiphol, Netherlands","{'type': 'Point', 'coordinates': [4.7654295, 5..."
20,5dd6ada62eb127ee9342a36e,Starbucks,0,0,0,0,0,1,"Vertrekpassage 135, Lounge 1, 1118 AS Schiphol...","{'type': 'Point', 'coordinates': [4.769328, 52..."
21,5dd6ada62eb127ee9342a36f,Julia's,0,0,0,0,0,1,"De Ruijterkade 38a, 1012 AA Amsterdam, Netherl...","{'type': 'Point', 'coordinates': [4.9003920999..."
22,5dd6ada62eb127ee9342a370,Starbucks,0,0,0,0,0,1,"Vertrekpassage 135, Arrivals 4, 1118 AS Schiph...","{'type': 'Point', 'coordinates': [4.759779, 52..."
23,5dd6ada62eb127ee9342a371,Starbucks,0,0,0,0,0,1,"Evert van de Beekstraat 12, 1118 CL Schiphol, ...","{'type': 'Point', 'coordinates': [4.7510344999..."
24,5dd6ada62eb127ee9342a372,Starbucks,0,0,0,0,0,1,Postbus 75041Terminal 2 - Concourse D - Airsid...,"{'type': 'Point', 'coordinates': [4.7693463, 5..."
25,5dd6ada62eb127ee9342a373,Starbucks Coffee Emea B.v.,0,0,0,0,0,0,"7 24, 1034 ZL Amsterdam, Netherlands","{'type': 'Point', 'coordinates': [4.9236606, 5..."
26,5dd6ada62eb127ee9342a374,Ipo's Coffee Gallery,0,2,0,0,0,1,"Piet Heinkade 29, 1019 BR Amsterdam, Netherlands","{'type': 'Point', 'coordinates': [4.9158558, 5..."
27,5dd6ada62eb127ee9342a375,Starbucks,0,0,0,0,0,1,"Evert van de Beekstraat 202, 1118 CP Schiphol,...","{'type': 'Point', 'coordinates': [4.7596772, 5..."
28,5dd6ada62eb127ee9342a376,Starbucks Coffee,0,0,0,0,0,1,"Evert van de Beekstraat 202, 1118 CP Schiphol,...","{'type': 'Point', 'coordinates': [4.7643564, 5..."
29,5dd6ada62eb127ee9342a377,Starbucks,0,0,0,0,0,1,"Evert van de Beekstraat 202, 1118 CP Schiphol,...","{'type': 'Point', 'coordinates': [4.7690956999..."
30,5dd6ada62eb127ee9342a378,Cafe 't Molentje,0,0,0,1,5,1,"Singel 278, 1016 AC Amsterdam, Netherlands","{'type': 'Point', 'coordinates': [4.8881049999..."
31,5dd6ada62eb127ee9342a379,Starbucks The Pavillion,0,0,0,0,0,1,"Evert van de Beekstraat 202, 1118 CP Schiphol,...","{'type': 'Point', 'coordinates': [4.7654293999..."
32,5dd6ada62eb127ee9342a37a,coffeecompany,0,2,0,1,0,1,"11, Oude Doelenstraat, 1012 ED Amsterdam, Neth...","{'type': 'Point', 'coordinates': [4.8967462, 5..."
33,5dd6ada62eb127ee9342a37b,Café Reynders,0,1,1,12,0,1,"Leidseplein 6, 1017 PT Amsterdam, Netherlands","{'type': 'Point', 'coordinates': [4.8829870999..."
34,5dd6ada62eb127ee9342a37c,Coffee Company,0,2,1,2,0,1,"Ferdinand Bolstraat 38, 1072 LK Amsterdam, Net...","{'type': 'Point', 'coordinates': [4.8903759, 5..."
35,5dd6ada62eb127ee9342a37d,Starbucks on the go,0,0,0,0,0,1,"A4, 2132 Hoofddorp, Netherlands","{'type': 'Point', 'coordinates': [4.6848793, 5..."

In [135]:
#df.drop([13 , 14])
#df.head()

In [136]:
headquarter = df[(df['kindergarten']>0) & (df['schools']>0) & (df['veganrest']>0) & (df['clubs']>0) & (df['amsterdam']>0) & (df['airport']>0)]

In [137]:
headquarter

,_id,name,kindergarten,schools,veganrest,clubs,amsterdam,airport,address,location
3,5dd6ada62eb127ee9342a35d,STARBUCKS The Bank Rembrandtplein,1,1,1,8,2,1,"The Bank Rembrandtplein, Utrechtsestraat 9, 10...","{'type': 'Point', 'coordinates': [4.8977405, 5..."